In [7]:
from collections import deque

In [8]:
a = deque('test')

In [9]:
for i in a:
    print(i.upper())

T
E
S
T

In [10]:
a.append('123')
a

deque(['t', 'e', 's', 't', '123'])

In [11]:
a.appendleft('the')
a

deque(['the', 't', 'e', 's', 't', '123'])

In [13]:
a.insert(1, ' ')
a

deque(['the', ' ', 't', 'e', 's', 't', '123'])

In [14]:
a.reverse()
a

deque(['123', 't', 's', 'e', 't', ' ', 'the'])

In [17]:
a.reverse()
a.extend([4,5,6,7])
a

deque(['the', ' ', 't', 'e', 's', 't', '123', 4, 5, 6, 7])

In [19]:
b = list(a)
b

['the', ' ', 't', 'e', 's', 't', '123', 4, 5, 6, 7]

In [26]:
c = [str(i) for i in b]
s = ''.join(c)
s

'the test1234567'